server:
  port: 8080

spring:
  application:
    name: hospitality-distribution-demo
  jackson:
    default-property-inclusion: non_null
    serialization:
      write-dates-as-timestamps: false
  devtools:
    restart:
      enabled: true

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method

logging:
  level:
    com.example.distributed_api_demo_backend: DEBUG
    org.springframework.web: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
